html,body {
	height: 100%;
}
.panel-container {
	height: 100%;
	width: 100%;
}
.ui-layout-center {
    padding: 0px;
	border: none;
}
.ui-layout-west {
	padding: 0px;
    background: var(--source-color);
	border: none;
}
.ui-layout-resizer-west {
	border: none;
	background: #737373;
}
.ui-wrapper {
	height: 100% !important;
	width: 100% !important;
}
#row-vis {
	height: calc(100% - 34px);
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	background-color: #909090;
}
.row {
	margin-left: 0px;
	margin-right: 0px;
}
.btn-file {
    position: relative;
    overflow: hidden;
	height: 34px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.container-fluid {
	height: 100%;
	padding: 0px;
}
.col-text-display {
	height: 34px;
    background: var(--secondary-color);
}
#div-col-left-tabs-name {
	width: 100%;
	height: 34px;
}
#div-col-left-source {
	width: 100%;
	height: calc(100% - 136px);
}
.height-100-percent {
	height: 100%;
}
#row-main {
	height: 100%;
}
.no-padding-lr {
	padding-left: 0px;
	padding-right: 0px;
}
.no-padding-l {
	padding-left: 0px;
}
.no-padding-r {
	padding-right: 0px;
}
.hwt-container {
	height: 100%;
	width: 100%;
}
.hwt-content {
	border: none !important;
	padding: 4px !important;
	font-size: 18px !important;
}
.hwt-content mark {
	background: #FFFF00;
	border-radius: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 0px;
	padding-right: 0px;
}
.hwt-content mark.active {
	background: var(--active-color);
}
.txta-source {
	width: 100%;
	height: 100%;
    background: var(--source-color);
	vertical-align: top;
	border: none;
	outline: none;
	resize: none;
	padding: 4px;
	font-size: 18px !important;
}
.txta-tab {
	width: 100%;
	height: 34px;
	font-size: 20px;
	color: #000;
	font-weight: bold;
  background: var(--source-color);
	padding-top: 3px;
	vertical-align: top;
	border: none;
	outline: none;
	resize: none;
}
#txta-missing {
	width: 100%;
	height: 100px;
	border: 1px solid;
  border-color: var(--source-color);
	vertical-align: top;
	outline: none;
	resize: none;
}
.txta-modal-edit-node {
	width: 100%;
	height: 50px;
	border: 1px solid;
  border-color: var(--source-color);
	vertical-align: top;
	outline: none;
	resize: vertical;
}
#div-vis {
	width: 100%;
	height: 100%;
	background: yellow;
}
.contol-table-padding {
	padding-right: 5px;
}
.modal-text {
	margin-bottom: 0px;
}
.p-settings {
	margin-bottom: 0px !important;
}
.modal-margin-top {
	margin-top: 15px;
}
.modal-margin-bottom {
	margin-bottom: 15px;
}
.form-control {
	border-radius: 0px;
}
.input-settings {
	margin-bottom: 15px;
}
.highlightTextarea {
	height: 100% !important;
}
#select-schemes {
	box-shadow: none;
	border-color: #DDD;
}
.btn-tab {
	padding-left: 0px;
	padding-right: 0px;
}
/* Dropdown css */
.pull-right {
	width: 100%;
}
ul.dropdown-wide {
 	width: 300px !important;
}
ul.drop-accordian-menu {
    display:none;
    max-height: 250px;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 9pt;
    width: auto;
}
ul.drop-accordian-menu li {
    border-bottom: 1px solid #ccc;
    margin: 0;
}
ul.drop-accordian-menu li a {
    display: block;
    padding: 5px 5px 5px 20px;
    color: #000;
    text-decoration: none;
  	font-size: 8pt;
    width: auto;
}
ul.drop-accordian-menu a:hover {
    background-color: #f1f1f1;
    color: #000;
}
